.player.player__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.player.player__title,
.player.player__artist,
.player.player__title_artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player.player__title_artist {
  display: flex;
  flex-direction: column;
}

.player.player__title {
  letter-spacing: 0.15px;
}

.player.player__artist,
.player.player__duration {
  letter-spacing: 0.2px;
  color: #818c99;
}

.player.player__duration {
  padding: 0 0 0 12px;
}

.player.player__duration_skeleton {
  width: 26px;
  height: 16px;
}
