/* .player.player__info {
  display: flex;
  align-items: center;
  width: 62px;
  height: 40px;
  padding: 0 0 0 12px;
}

.player.player__duration {
  width: 26px;
  height: 100%;
  padding: 8px 0 8px 0;
  letter-spacing: 0.2px;
  color: #818c99;
}

.player.player__more {
  width: 24px;
  height: 100%;
  margin: 12px 2px 12px 14px;
} */
